# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Chroma / vector databases
chroma_db/
vectorstore/
temp_vector_db/

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/